/* Filter.css */
.filter {
    transition: 0.8s;
    position: absolute;
    left: -11vw;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5vw;
    flex-direction: column;
    width: 10vw;
    height: 30vw;
    border-radius: 0 1vw 1vw 0;
    background: linear-gradient(maroon, tomato, gainsboro);
    color: white;
    font-size: 1vw;
    z-index: 10;
  }
  
  .filter input {
    width: 0.75vw;
    margin-right: 0.5vw;
  }
  
  .filter div {
    display: flex;
    flex-direction: row;
  }
  
  .filter_class {
    transition: 0.8s;
    left: 0vw;
  }