
.card_style {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #4d97e5a2;
    box-shadow: 0.5vw 0.4vw 0.3vw 0.3px #00000097;
    border-radius: 5%;
    width: 26vw;
    height: 30vw;
    box-sizing: border-box;
    margin-bottom: 2vw;
    padding: 2vw;
    color: white;
  }
  
  .img_style {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  
  .div_style {
    width: 22vw;
    height: 16vw;
  }
  
  .name_style {
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
  }
  
  .size_style {
    font-size: 1.1vw;
  }
  
  .price_style {
    padding-left: 17vw;
    font-size: 1.1vw;
  }
  
  .butt_style {
    background-color: #5acc5d;
    border: 0.1vw solid #408b42;
    border-radius: 2vw;
    color: rgba(255, 255, 255, 0.797);
    font-size: 1vw;
    width: 6vw;
    height: 2vw;
  }
  .butt_style:hover{
    background-color: #3fb444;
  }
.bi-three-dots:hover {
  color: rgb(56, 56, 56)
}
.bi-three-dots{
  margin-left: 20vw;
  margin-top: -1.5vw;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color:  #4d96e5c5;;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto; 
  -ms-overflow-style: none;
  scrollbar-width: none; 
  z-index: 1000;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  margin-top: 0;
  color: white;
}
.modal-image{
  width: 30vw;
  height: 20vw;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.modal-img-inner {
  object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

.modal-params {
  margin: 15px 0;
}

.modal-params h3 {
  margin-bottom: 10px;
  color: white;
}

.modal-params ul {
  color: gainsboro;
  padding-left: 20px;
}

.modal-description {
  margin: 15px 0;
}

.modal-description h3 {
  margin-bottom: 10px;
  color: white;
}

.modal-description p {
  color: gainsboro;
  line-height: 1.5;
}

.modal-footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.modal-add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-add-to-cart:hover {
  background-color: #45a049;
}